<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Admin</p>
    <p><a href="/">Forside</a></p>
    <p><a href="/logout">Logg ut</a></p>
  </body>
</html>