<% layout('../layout') -%>

  <form action="/budgets/new" method="post" role="form">
    <div class="form-group">
      <label for="name">Navn</label>
      <input name="name" type="text" class="form-control" id="name" placeholder="Navn på budsjett" required />
    </div>
    <div class="form-group">
      <label for="year">År</label>
      <input name="year" type="number" class="form-control" id="year" placeholder="Året budsjettet gjelder" required />
    </div>
    <button type="submit" class="btn btn-default">Opprett</button>
    <a href="/admin" class="btn">Avbryt</a>
  </form>